.content {min-height:calc(100% - 100px);}
.content .content-title {margin-top:48px;font-size:24px;font-weight:700;color:#fff;line-height:32px;}
.sub-txt {margin:16px 0;color:#616161;font-weight:500;font-size:12px;}

/* complete 화면 */
.complete {}
.complete .img-box {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);text-align:center;}
.img-complete {width:80px;height:80px;margin-bottom:48px;}



