.mypage.content {padding-bottom:80px;}

.profile-img {width:100%;display:flex;justify-content:center;}
.profile-img img {width:120px;height:120px;}

.my-info {width:100%;margin-top:24px;padding:16px;border:1px solid #424242;border-radius:16px;}
.my-info .level span, .my-info .name span {font-size:12px;}
.my-info .level {padding-right:24px;}
.my-info div {display:flex;align-items:center;justify-content:space-between;}
.my-info div + div {border-top:1px solid #424242;margin-top:15px;padding-top:15px;}

.btn-edit {display:inline-block;width:16px;height:16px;margin-left:8px;background:url('../../assets/images/ic_edit.png') no-repeat;background-size:16px auto;}

/* chart */
.chart-box {width:100%;height:240px;margin-top:20px;}

/* link */
.link-list {margin-top:30px;}
.link-list ul {}
.link-list li {position:relative;height:48px;}
.link-list li::after {position:absolute;right:0;display:inline-block;content:'';width:24px;height:24px;background:url('../../assets/images/ic_arrw.png') no-repeat;background-size:24px auto;}
.link-list li + li {}

.util-list {padding:100px 0 70px;}
.util-list ul {display:flex;align-items:center;justify-content:center;}
.util-list ul li {font-size:12px;color:#495057;}
.util-list ul li + li::before {display:inline-block;content:'|';margin:0 8px;color:#495057;} 

.content.withdrawal .content-title {margin-top:24px;}
.notice-list {margin:16px 0;}
.notice-list li {position:relative;padding-left:30px;}
.notice-list li:before {position:absolute;top:3px;left:0;width:20px;height:20px;content:'';background:url('../../assets/images/ic_notice.png') no-repeat;background-size:20px auto;}
.notice-list li + li {margin-top:16px;}
.content.withdrawal .sub-txt {line-height:20px;padding-left:10px;}
.content.withdrawal .sub-txt:before {position:absolute;left:0;content:'*';}

