.content {min-height:calc(100% - 100px);}
.content .content-title {margin-top:72px;font-size:24px;font-weight:700;color:#fff;line-height:32px;}
.sub-txt {margin:8px 0 24px;color:#616161;font-weight:500;font-size:12px;}

/* category radio */
.category {display:flex;align-items:center;justify-content:space-between;margin-bottom:16px;}
.category .radio-box {display:inline-block;min-width:79px;height:24px;vertical-align:middle;}
.category .radio-box + .radio-box {margin-left:4px;}
.category .radio-box input[type='radio'] {position:absolute;clip:rect(0, 0, 0, 0);width:1px;height:1px;padding:0;border:0;overflow:hidden;}
.category .radio-box label {position:relative;display:block;color:#424242;font-weight:700;font-size:14px;text-align:center;line-height:25px;}
.category .radio-box label:after {position:absolute;top:0;left:0;display:block;content:'';min-width:79px;width:auto;height:24px;border:1px solid #424242;border-radius:4px;}
.category .radio-box input[type='radio']:checked + label {color:#f5f5f5;}
.category .radio-box input[type='radio']:checked + label:after {border:1px solid #f5f5f5;}

/* input */
.input-box.search-inp {position:relative;}
.input-box.search-inp input {padding:0 15px 0 52px;font-weight:400;}
.input-box.search-inp .btn-search {position:absolute;top:14px;left:15px;background:url('../../assets/images/ic_search_dark.png') no-repeat;background-size:24px auto;}
.input-box.search-inp input[type='text']::placeholder {color:#424242;font-size:18px;font-weight:400;}
.input-box.search-inp .btn-del {position:absolute;top:13px;right:15px;display:inline-block;width:24px;height:24px;content:'';background:url('../../assets/images/ic_del.png') no-repeat;background-size:24px auto;}

/* 리스트 화면 */
.view-area {margin-top:24px;}
.view-area .view-count {font-size:18px;margin-bottom:8px;}
.view-area .view-count .num {font-weight:400;color:#616161;}
.view-area .list-wrap {display:flex;flex-wrap:wrap;gap:4px;}
.view-area .list-wrap li {position:relative;display:inline-block;width:32.3%;height:185px;margin-bottom:20px;}
.view-area .list-wrap li:first-child {margin:0 2px 0 0;}
.view-area .list-wrap li a {display:inline-block;width:100%;height:100%;}
.view-area .list-wrap li.more {height:160px;background-color:#242424;border-radius:4px;overflow:hidden;}
.view-area .list-wrap li.more a {color:#fff;font-weight:400;display:flex;align-items:center;justify-content:center;}
.view-area .list-wrap li a .img-box {width:100%;height:160px;min-height:auto;border-radius:4px;overflow:hidden;}
.view-area .list-wrap li a .img-box img {width:100%;height:100%;}
.view-area .list-wrap li a .name {display:inline-block;width:100%;font-size:12px;font-weight:400;color:#d1d1d1;line-height:25px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

/* 보관함 저장 버튼 */
.btn-bookmark {position:absolute;bottom:32px;right:5px;width:20px;height:20px;content:'';background:url('../../assets/images/ic_star_before.png') no-repeat;background-size:20px auto;z-index:3;}
.btn-bookmark-after {background:url('../../assets/images/ic_star_after.png') no-repeat;background-size:20px auto;z-index:3;}

button.test {font-size:20px;color:red;font-weight:bold;}



